<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
          package="com.mecatronica.escuelalimpia"
          android:versionCode="1"
          android:versionName="1.0">

    <application android:label="Escuela Limpia" 
                 android:icon="@mipmap/ic_launcher"
                 android:allowBackup="true"
                 android:hasCode="true">
                 
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="Escuela Limpia"
                  android:configChanges="orientation|uiMode|screenSize|screenLayout|hardKeyboardHidden|keyboardHidden"
                  android:launchMode="singleTop"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
